@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;
}

@model ForgotPasswordViewModel



<!DOCTYPE html>
<html lang="en" data-layout-mode="horizontal" data-topbar-color="brand">
<head>
    <meta charset="utf-8" />
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/KFU.ico" height="80">

    <!-- plugin css -->
    <link href="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />

    <!-- icons -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme Config Js -->
    <script src="~/assets/js/config.js"></script>
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">

    <!-- SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- Plugins css -->
    <link href="~/assets/libs/quill/quill.core.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/quill/quill.bubble.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/quill/quill.snow.css" rel="stylesheet" type="text/css" />

    <!-- third party css -->
    <link href="~/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-select-bs5/css//select.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <!-- plugin css -->
    <link href="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <style>
        .top-left {
            position: absolute;
            top: 0;
            left: 0;
            width: 150px; /* Adjust the width as desired */
            height: auto;
            margin: 30px;
        }
        .top-right {
            position: absolute;
            top: 0;
            right: 0;
            width: 300px; /* Adjust the width as desired */
            height: auto;
        }
    </style>
</head>

<body>
<div class="container">
        <img src="~/assets/images/R.png" alt="Top Left Image" class="top-left">
        <img src="~/assets/images/College.png" alt="Top Right Image" class="top-right">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-lg-8">
            <div class="card" style="margin-top:-120px;">
                <div class="card-body">
                    <h4 class="header-title"><b>Forgot Password</b></h4>
                    <hr style="border-top: 2px solid #1abc9c; font-weight: bold;">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-2">
                            <label for="emailAddress" class="form-label">Email address<span class="text-danger"></span></label>
                            <input type="email" name="Email" parsley-trigger="change" required
                                   placeholder="Enter email" class="form-control" id="emailAddress">
                        </div>

                        <div class="text-center">
                            <button value="check" class="btn btn-outline-success" type="submit">
                                Submit
                            </button>

                        </div>
                        <a asp-action="Login">Want to login?</a>
                    </form>

                </div>
            </div> <!-- end card -->
        </div>
        <!-- end col -->
    </div>
</div>
</body>
</html>

@if (ViewData["CheckEmail"] != null)
{
    <script>
        Swal.fire({
            icon: 'info',
            title: 'Check Email',
            text: '@ViewData["CheckEmail"]',
            confirmButtonText: 'OK'
        });
    </script>
}