@using System.Security.Claims;


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="text-center">
                        <h1>Welcome, @User.FindFirst(ClaimTypes.GivenName).Value</h1>
                    </div> <!-- end row -->
                </div>
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="text-center">

                    <p class="text-muted mb-0">Student</p>
                    <hr style="border-top: 2px solid #1abc9c; font-weight: bold;">

                    <h3 class="mb-1 mt-0"> <span data-plugin="counterup">@ViewBag.StudentsForSupervisor</span> </h3>
                </div>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="text-center">

                    <p class="text-muted mb-0">Student Reports</p>
                    <hr style="border-top: 2px solid #1abc9c; font-weight: bold;">

                    <h3 class="mb-1 mt-0"> <span data-plugin="counterup">@ViewBag.StudentsReports</span> </h3>

                </div>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="text-center">

                    <p class="text-muted mb-0">Request Reject</p>
                    <hr style="border-top: 2px solid #1abc9c; font-weight: bold;">

                    <h3 class="mb-1 mt-0"> <span data-plugin="counterup"></span> </h3>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    </div><!-- end col -->

  
