@model IEnumerable<CoopProj.Models.Majors>

@{
    ViewData["Title"] = "Index";
}


<h2>Majors</h2>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p>
                    <a asp-action="Create"><span class="fe-plus-circle"></span>Add Major</a>
                </p>
                <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <div class="d-flex gap-2 justify-content-lg-end mt-3 mt-lg-0">
                                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id"><i class="fe-edit-1"></i></a>
                                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fe-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
