@model CoopProj.Models.ApplyStudent

@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center align-items-center">
    <div class="col-lg-10">

        <div class="card" style="margin-top:30px">



            <a asp-action="Index" style="font-size: 35px;">
                <i class="fe-arrow-left"></i>
            </a>
            <hr />
                    <div class="col-md-4">
                        <form asp-controller="ApplyStudents" asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="StudentsID" class="control-label"></label>
                                <select asp-for="StudentsID" class="form-control" asp-items="ViewBag.StudentsID"></select>
                                <span asp-validation-for="StudentsID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RequestsID" class="control-label"></label>
                                <select asp-for="RequestsID" class="form-control" asp-items="ViewBag.RequestsID"></select>
                                <span asp-validation-for="RequestsID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Information" class="control-label"></label>
                                <input asp-for="Information" class="form-control" />
                                <span asp-validation-for="Information" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Letter" class="control-label"></label>
                                <input asp-for="Letter" class="form-control" />
                                <span asp-validation-for="Letter" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="File" class="control-label"></label>
                                <input asp-for="File" class="form-control" />
                                <span asp-validation-for="File" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Transcript" class="control-label"></label>
                                <input asp-for="Transcript" class="form-control" />
                                <span asp-validation-for="Transcript" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <select class="form-control" asp-for="Status">
                                    <option value="">Select status</option>
                                    <option value="Accepted">Accepted</option>
                                    <option value="Rejected">Rejected</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>

                            <hr />
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-outline-success" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   

